* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    height: 35px;
    width: 35px;
    mix-blend-mode:difference;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    transition: all linear 0.3s;
}

h1 {
    font-size: 8vw;
    font-weight: 900;
}